html,body {
	box-sizing: border-box;
}
body {
   font-family: "Open Sans", sans-serif;
 font-size: 17px;  
   font-weight: 400;
   color: #000;
	overflow-x: hidden;
}
.h1, h1, .h2, h2, h3, .h3, h4 .h4, h5 .h5  {
	font-family: "Cinzel", san-serif;
	font-weight: 500;
	font-style: normal;
  } 
.top-banner {
	background-color:#524341;		
}
.top-banner a {
color: whitesmoke;
}
.figure-text {
	font-family: "Cinzel", san-serif;
}
.peach { 
	color: #f4bba7;
}
.tan {
	color: #edb292;
}
.mauve {
	color:#d19c96;
}
.toupe {
	color: #696558;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
hr {
	border-top: 2px solid #696558;
	opacity: 1;
}
/******navbar ******/
.navbar {	
	margin-top: 25px;
	background-color: #e9ba9c;	
}
.navbar-brand {
	color:#4e4a3d;
	font-family: "Cinzel", san-serif;
	font-weight: 500;	
}
.nav-link a:focus, .nav-link a:hover, .nav-link a:active {   
	color:#000;
	font-family: "Cinzel", san-serif;	
}
.dropdown-menu{
	border-width:2px;
	border-color:#dc947a;
}
 .nav-item .nav-link.active {
	cursor: pointer;
	color: whitesmoke;;
}
.navbar-toggler {
	cursor: pointer;
}
/****** home page ****/
.home-statement {
	margin: 0 10%;
	padding: 5rem 3% 5rem;
	font-weight: 400;
	font-size: large;
	background-color: #120f3570;
}
/**** page section  ***/

hr {
	border-top: 2px solid #28246a;
}
.temp-about {
	background-color:#e2b292;
	color: #696558;
}
.page-wrap {
	position: relative;
    display: block;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
.page-section {
	padding-top: 210px;
}
.home-bg {
    background-image: url("img/flower-path-top.jpg");
    background-position: center top;
	background-repeat: no-repeat;
    background-size: cover;
}
.home-statement {
	margin: 0 10%;
	padding: 3rem 3% 3rem;
	font-weight: 400;
	font-size: large;
	background-color: #f4bba76e;
}
.special-list {
	color:whitesmoke;
	background-color:#bf9566;
	background-color:#edb292;
}
.bg-special {
	background-image: url("img/jesscolor.jpg");
    background-position: center center;
	background-repeat: no-repeat;
    background-size: cover;
}

.about {
	background-color: #4e4a3d;
	color: whitesmoke;
}
.link-img {
	width:60%;
	text-align: center;
}
.section-title {
	font-family: 'Julius Sans One','Open Sans',sans-serif ;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
}
.sub-heading {
	font-family: 'Julius Sans One','Open Sans',sans-serif ;
	font-weight: 700;
	letter-spacing: 2px;
	text-align: center;
}
.sub-title, .nav-link {
	font-family: 'Julius Sans One','Open Sans',sans-serif ;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 3px;
}

a { 
	text-decoration: none;
}
a:hover, a:active {
	color: #222020;
	text-decoration: none;
}

/*@media (min-width: 567px) {
	.navbar-brand
	{
		position: relative;
		top: 20%;
		bottom: 7px;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
	}*
	
}*/